*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1rem;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
table tr td{
    width: 50px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

table{
    margin: auto;
    border-collapse: collapse;
    display: none;
}
input{
    border: 2px solid purple;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
}
button{
    margin: 2rem;
    width: 180px;
    height: 50px;
    border-radius:50px ;
    border: 1px solid red;
    cursor: pointer;
    background-color: purple;
    color: white;
}
#err{
    display: none;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: aqua;
    }
    body table{
        table-layout: fixed;

    }
    table tr td{
        width: 40px;
        padding-left: 0.3rem;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: small;
    }
} 
footer{
background-color: aqua;
    text-align: center;
    color: white;
    padding: 2rem 2rem;
    border-bottom-right-radius: 2rem;
}
footer a{
    text-decoration: none;
    color: black;
}